<div class="wrapper">
  <div class="container">
    <div class="row first-div">
      <div class="box">
        <div class="input-group">
          <input type="text" class="form-control" (change)="onInputChange($event)">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary ml-0" (click)="searchUsers()">Search User</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row second-div mt-4">
      <div class="col">
        <div class="box">
          <div class="row">
            <div class="col-md-3">
              <img class="border p-1 mw-100 mh-20 rounded-circle" [src]="userImage ? userImage : 'assets/no-image.png'" />
            </div>
            <div class="col-md-6 mb-2 mt-2">
             <p><label>{{userName? userName : 'Sample Name'}}</label></p> 
             <p><label class="">{{userName? userName : 'Sample Name'}}</label></p>
              <p><label>{{userName? userName : 'Sample Name'}}</label></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>